.streamerCard {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    justify-content: space-between;
}

#streamPlayerContainer {
    flex-grow: 1;
    min-width: 0;
    /* prevent flexbox from overflowing */
    padding-left: 10px;
    /* add some space between the containers */
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#sidebarAndStreamPlayer {
    display: flex;
    justify-content: flex-start;
}

#leftNavContainer,
#streamPlayerContainer {
    /*flex: 1 1 0;*/
    margin-right: 10px;
}

#leftNavContainer {
    width: 240px;
}

#streamContainer {
    display: flex;
}

.streamerCard:hover {
    background-color: #2c3542;
}

.streamerCardLeftDetails {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-row {
    display: flex;
    flex-wrap: wrap;
}

.stream-player {
    flex: 1 1 calc(50% - 1px);
}

.streamer-name,
.game-name {
    line-height: 1.2;
}

.game-name {
    font-size: 12px;
    overflow-wrap: break-word;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-viewers {
    margin-left: 10px;
    min-width: fit-content;
    font-size: 8px;
    position: relative;
}

.streamer-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.stream-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.stream-link,
.video-link {
    text-decoration: none;
    color: white;
}

.stream-viewers,
.video-viewers {
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

body {
    background: black;
    font-family: Arial, sans-serif;
}

.topNav {
    justify-content: left;
    display: flex;
    align-items: center;
    height: 77px;
    background-color: #2D2C2C;
    padding-left: 10px;
}

.video-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.video-thumbnail {
    border-radius: 50%;
    width: 30px;
    height: auto;
}

.profilePicContainer {
    display: inline-flex;
    margin-right: 6px;
    border: 3px solid #A172F7;
    border-radius: 50%;
    padding: 2px;
    position: relative; /* Use relative positioning */
    width: 30px;
    height: 30px;
}

/* Add these styles to the input[type="checkbox"] and label inside .profilePicContainer */
.profilePicContainer input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.profilePicContainer label {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; /* Adjust this value to fine-tune vertical positioning */
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-link {
    text-decoration: none;
    color: white;
}

.video-viewers {
    margin-left: 2px;
    color: white;
    font-size: 8px;
}

#leftNav {
    background-color: #1F2833;
    width: 240px;
    height: 100vh;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
}

.stream-player {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 2); /* Initial width for two streams per line */
}

/* Add the custom round checkbox styles */
.round {
    position: relative;
  }
  
  .round label {
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }