.mainContainer {
    position: relative;
    height: 100%;
    margin-bottom: 6rem;
    display: none;
}

#intialBackground {
  background: linear-gradient(to right, #242424, #18181b);
}


/*-------------------------------Top Navigation Bar------------------------------------*/

.topNav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

#topNavRightContent {
    display: flex;
    align-items: center;
    height: 100%;
}

/*---------------------------------------------------------------------------------------Content Container------------------------------------------------------------------------------*/

.contentContainer {
    display: flex;
    height: calc(100% - 2rem);
    /* Adjust for topNav padding */
    margin-top: .5rem;
    padding: 0 10rem 0 10rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Hide content overflow */
    padding-top: 1rem;
    height: 90%;
    border-radius: 12px;
    background: #3E4042;
    font-size: 1.5rem;
    color: white;
    padding: 5rem;
}

#termsList {
    margin-top: 0;
    margin-bottom: 0;
}

/* Normal link color */
.termsLink {
    text-decoration: none;
    color: #A0ADCD;
    /* Change to your desired color */
}

/* Visited link color */
.termsLink:visited {
    color: #A0ADCD
        /* Change to your desired color */
}

/* Hover link color */
.termsLink:hover {
    color: #A0ADCD;
    /* Change to your desired color */
    text-decoration: underline;
}

/* Active link color */
.termsLink:active {
    color: #A0ADCD;
    /* Change to your desired color */
}

#termsEnd {
    margin-bottom: 5rem;
}

#avatarProfPic {
    border: 2px solid #A0ADCD;
    border-radius: 50%;
    margin-right: 2rem;
    /* 20px space between img and showRightNav */
    transition: margin-right 0.3s ease;
    /* Smooth transition for margin */
}

/* Your existing styles here */

/* Dropdown Styles */
.avatarDropdown {
    cursor: pointer;
}

.avatarDropdownMenu {
    outline: 2px solid #666;
    display: none;
    position: absolute;
    top: 6.58rem;
    right: 2rem;
    border-radius: 12px;
    background-color: #212121;
    color: white;
    box-shadow: 0rem .8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.avatarDropdownMenu.show {
    display: block;
}

.appsMenu {
    padding: 1rem;
    /* Add padding to create space between items */
}

.appsMenuLink {
    display: flex;
    text-decoration: none;
    color: white;
    padding: .8rem 2rem;
    /* Add vertical padding to separate items */
    transition: background-color 0.2s;
    /* Add a subtle hover effect */
    font-size: 2rem;
    align-items: center;
    justify-content: left;
    border-radius: 12px;
}

.appsMenuLink:hover {
    background-color: #3d3d40;
    /* Change the background color on hover */
}

.appsMenuIcon {
    padding-right: 1rem;
}

body,
html {
    background: linear-gradient(to right, #242424, #18181b);
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: left;
    padding: 0;
    font-size: 62.5%;
    line-height: 1.15;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: .7rem;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #525965;
    /* Color of the thumb (scrollable portion) */
    border: none;
    /* Remove the border */
    border-radius: 7px;
    /* Make the thumb round */
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
    /* Color of the thumb on hover */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the track (unscrollable portion) */
    border-radius: 7px;
    /* Make the track round */
}

::-webkit-scrollbar-corner {
    background: transparent;
    /* Corner between vertical and horizontal scrollbars */
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
    width: 0rem;
    height: 0rem;
}

body::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Webkit-based browsers (Chrome, Safari) */
}

.mainContent::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Webkit-based browsers (Chrome, Safari) */
}

.profileHeader {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #000, #2c2c2c);
}

.profileHeader h1 {
    margin: 0;
    font-size: 24px;
}

.profileHeader img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.edit-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#mainInfo {
    background: #333740;
    border: 0.1rem solid #494d59;
    border-radius: 5px;
    padding: 25px 30px;
    margin-bottom: 15px;
}

.container *,
.container *::before,
.container *::after {
    position: relative;
}

.container {
    font-size: 100%;
    box-sizing: border-box;
}

.container {
    font: 400 1rem/1.5 "Open Sans", "helvetica Neue", "Arial", sans-serif;
    color: white;
}

.container h1 {
    font-size: 1.25rem;
}

.container h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

.container a {
    color: #0087c3;
    text-decoration: none;
}

.container button,
.container select {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 16px 24px;
    border-radius: 1px;
    min-width: 200px;
    cursor: pointer;
}

.card {

    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-content {
    padding: 24px;
}

.card-content+.card-content {
    border-top: 1px solid #ddd;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 8px;
}

.nav-tabs {
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.nav-tabs>.nav-item {
    display: inline-block;
    color: #999;
    font-weight: 600;
    line-height: 2;
}

.nav-tabs>.nav-item+.nav-item {
    margin-left: 16px;
}

.nav-tabs>.nav-item.is-active {
    color: currentColor;
}

.nav-tabs>.nav-item.is-active::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #000;
}

.pull-right {
    float: right;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.main {
    background: #333740;
    border: 0.1rem solid #494d59;
    border-radius: 5px;
    padding: 25px 30px;
    margin-bottom: 15px;
}

input,
select {
    height: 40px;
    max-width: 250px;
}

input,
textarea,
select {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
    padding: 10px 8px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

label {
    display: block;
    font-size: 0.9em;
    padding-bottom: 5px;
}

/* Your existing styles */
#avatarProfPic {
    border: 2px solid #A0ADCD;
    border-radius: 50%;
    margin-right: 2rem;
    transition: margin-right 0.3s ease;
}

.avatarDropdown {
    cursor: pointer;
}

.avatarDropdownMenu {
    outline: 2px solid #666;
    display: none;
    position: absolute;
    top: 6.58rem;
    right: 2rem;
    border-radius: 12px;
    background-color: #212121;
    color: white;
    box-shadow: 0rem .8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.avatarDropdownMenu.show {
    display: block;
}

.appsMenu {
    padding: 1rem;
}

.appsMenuLink {
    display: flex;
    text-decoration: none;
    color: white;
    padding: .8rem 2rem;
    transition: background-color 0.2s;
    font-size: 2rem;
    align-items: center;
    justify-content: left;
    border-radius: 12px;
}

.appsMenuLink:hover {
    background-color: #3d3d40;
}

.appsMenuIcon {
    padding-right: 1rem;
}

#topNavUsername {
    color: white;
}

.chat-button {
    width: 36px;
    height: 36px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    transition: border-color 0.2s ease-in, box-shadow 0.2s ease-in;
    color: white;
    display: flex;
    left: 0rem;
    bottom: 0;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 5px;
    /* margin-left: -5px; */
    margin-right: 10px;
    border: solid 1px transparent;
    transition: all 0.2s ease-in;
    border-radius: 1.5em;
}

.dropDownContainer * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

.dropDownContainer a {
    text-decoration: none;
}

.dropDownContainer {
    height: 50%;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    /*padding-right: 20px;*/
    z-index: 101;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownContainer .nav {
    display: flex;
    align-items: center;
}

.dropDownContainer .nav h3 {
    position: relative;
    margin-right: 30px;
    font-size: 12px;
    color: white;
}

.dropDownContainer .nav h3::after {
    position: absolute;
    content: "";
    top: 0;
    right: -15px;
    height: 100%;
    width: 2px;
    background: white;
}

.dropDownContainer .nav .drop {
    position: relative;
    height: 32px;
    width: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3e4042;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.dropDownContainer img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

.dropDownContainer .nav .drop i {
    transition: 0.3s;
}

.dropDownContainer .nav .drop i.active {
    transform: rotate(180deg);
}

.dropDownContainer .nav .drop .online {
    position: absolute;
    bottom: 5px;
    right: 15px;
    display: block;
    height: 5px;
    width: 5px;
    background: #50D030;
    border-radius: 50%;
}

.drop-box {
    margin-top: 10px;
    padding: 10px;
    width: 230px;
    background: #3e4042;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 101;
    visibility: hidden;
    border: 0.1rem solid #494d59;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .8);
}

.drop-box .user-details {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
}

.drop-box .user-details::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background: white;
}

.menu ul {
    width: 100%;
    line-height: 2;
}

.menu ul li a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.menu ul li a i {
    margin: auto 0;
    display: block;
    font-size: 16px;
    padding-right: 10px;
}

.menu ul li:nth-child(3),
.menu ul li:nth-child(4) {
    position: relative;
    margin-bottom: 20px;
}

.menu ul li:nth-child(3)::after,
.menu ul li:nth-child(4)::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background: white;
}

.menu ul li a:hover {
    color: #000;
}

.menu ul li:last-child a i {
    color: #FF585A;
}

.drop-box.active {
    animation: dropDown 0.5s both;
    visibility: visible;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


#savePreferencesBtn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#savePreferencesBtn:hover {
    background-color: #555;
}

#skipBtn {
    background-color: #aaa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
    box-sizing: border-box;
}

#categoriesContainer {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;
}

.checkbox-group>* {
    margin: .5rem 0.5rem;
}

.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-input:checked+.checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.checkbox-input:checked+.checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.checkbox-input:checked+.checkbox-tile .checkbox-icon,
.checkbox-input:checked+.checkbox-tile .checkbox-label {
    color: #2260ff;
}

.checkbox-input:focus+.checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-input:focus+.checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    min-height: 15rem;
    border-radius: 0.5rem;
    border: 5px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tile:hover {
    border-color: #2260ff;
}

.checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-icon {
    transition: .375s ease;
    color: #494949;
}

.checkbox-icon svg {
    width: 3rem;
    height: 3rem;
    display: block;
}

.checkbox-label {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #494949;
    font-weight: 500;
    text-align: center;
}