<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/thumbnail.png" type="image/png">
    <link rel="shortcut icon" href="images/thumbnail.png" type="image/png">
    <title>Tykrt</title>
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <link rel="stylesheet" href="profile.css" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="mainContainer">
        <nav class="topNav" id="topNav" style="display: flex;">
            <a href="https://tykrt.com/home.html" id="imageLink">
                <img src="images/Logo.1.0.0.png" alt="Tykrt" width="300" height="73">
            </a>
            <div id="topNavRightContent">
                <img src="images/avatarProfPic.png" width="32" height="32" id="avatarProfPic" class="avatarDropdown">
                <div class="avatarDropdownMenu">
                    <div class="appsMenu">
                        <a href="profile.html" class="appsMenuLink">
                            <img src="images/profileIcon.png" width="20" height="20" class="appsMenuIcon">
                            Profile
                        </a>
                        <a href="terms.html" class="appsMenuLink">
                            <img src="images/termsIcon.png" width="20" height="20" class="appsMenuIcon">
                            Terms of Service
                        </a>
                        <a href="privacy.html" class="appsMenuLink">
                            <img src="images/privacyIcon.png" width="20" height="20" class="appsMenuIcon">
                            Privacy Policy
                        </a>
                        <a href="#" class="appsMenuLink" id="signOutLink">
                            <img src="images/signOutIcon.png" width="20" height="20" class="appsMenuIcon">
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="contentContainer">
            <div class="mainContent">

                <div class="profileHeader">
                    <div>
                        <h1 id="dynamicName"></h1>
                        <p id="dynamicUsername"></p>
                    </div>
                    <img src="images/avatarProfPic.png" alt="Profile Picture">
                    <button class="edit-btn">EDIT</button>
                </div>

                <div class="container">
                    <header>
                        <h1>Account &amp; Settings</h1>

                        <nav class="nav nav-tabs">
                            <a href="#" class="nav-item is-active">Your Account</a>
                            <a href="https://tykrt.com/categories.html" class="nav-item">Preferences</a>
                            <a href="#" class="nav-item">Privacy</a>
                            <a href="#" class="nav-item">Advanced</a>
                        </nav>
                    </header>

                    <div class="card">
                        <div class="card-content clearfix">
                            <h5>Your Details</h5>

                            Change your Name, E-mail, Mobile Number, Password and more.

                            <div class="main ng-scope" ng-include="selectedTab.uri">
                                <form class="main-content ng-pristine ng-valid ng-scope"
                                    ng-controller="SettingsController" ng-submit="onSubmit()" ng-switch="loading">
                                    <h2 class="left ng-binding">User Settings</h2>
                                    <div class="right-keepflow">
                                        <div class="save-button-wrapper" title="No changes have been made.">
                                            <input type="submit"
                                                class="component-btn component-btn-secondary-blue save-button"
                                                value="Save changes" ng-disabled="saveDisabled" id="save-button"
                                                disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <hr>

                                    <p class="ng-binding">Any changes you make will apply to your Lucidchart and
                                        Lucidpress accounts.</p>
                                    <div class="spacer"></div>

                                    <h3 class="ng-binding">Profile Settings</h3>
                                    <div class="spacer"></div>
                                    <p ng-bind-html="phrases.getProfileDescription()" class="ng-binding">To set up your
                                        forum avatar, create a <a href="http://www.gravatar.com/"
                                            target="_blank">Gravatar</a> account for user@example.com.</p>
                                    <div class="spacer"></div>
                                    <div class="component-well input-group">
                                        <div class="left">
                                            <div class="property">
                                                <label for="user-first-name" class="ng-binding">First Name</label>
                                                <input id="user-first-name"
                                                    class="text-field ng-pristine ng-untouched ng-valid"
                                                    ng-model="settings.firstName" autocomplete="off"
                                                    ng-class="{inerror : firstName.length === 0 || fieldErrors.firstName}">
                                                <div class="error ng-binding" ng-bind="fieldErrors.firstName"></div>
                                            </div>
                                            <div class="property">
                                                <label for="user-last-name" class="ng-binding">Last Name</label>
                                                <input id="user-last-name"
                                                    class="text-field ng-pristine ng-untouched ng-valid"
                                                    ng-model="settings.lastName" autocomplete="off"
                                                    ng-class="{inerror : lastName.length === 0 || fieldErrors.lastName}">
                                                <div class="error ng-binding" ng-bind="fieldErrors.lastName"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <!-- ngIf: allowMultipleShippingAddresses -->

                                    <h3 class="ng-binding">Account Settings</h3>
                                    <div class="spacer"></div>
                                    <div class="component-well input-group">
                                        <div class="property">
                                            <label for="user-username" class="ng-binding">Username</label>
                                            <input id="user-username"
                                                class="text-field ng-pristine ng-untouched ng-valid"
                                                ng-model="settings.username"
                                                ng-class="{inerror : username.length === 0 || fieldErrors.username}"
                                                ng-disabled="forceSSO">
                                            <div class="error ng-binding" ng-bind="fieldErrors.username"></div>
                                        </div>
                                        <div class="property">
                                            <label for="user-email" class="ng-binding">Email</label>
                                            <input id="user-email" class="text-field ng-pristine ng-untouched ng-valid"
                                                ng-model="settings.email"
                                                ng-class="{inerror : email.length === 0 || fieldErrors.email}"
                                                ng-disabled="forceSSO">
                                            <div class="error ng-binding" ng-bind="fieldErrors.email"></div>
                                        </div>
                                        <div class="property">
                                            <label for="account-settings-password" class="ng-binding">Current
                                                Password</label>
                                            <input id="account-settings-password" type="password"
                                                class="text-field ng-pristine ng-untouched ng-valid"
                                                ng-model="settings.accountSettingsPassword"
                                                ng-class="{inerror: (presaveAccountSettingsChanged &amp;&amp; !settings.accountSettingsPassword) || (fieldErrors.currentPassword &amp;&amp; accountSettingsChanged)}"
                                                ng-disabled="forceSSO">
                                            <div class="required ng-binding"
                                                ng-class="{error: fieldErrors.currentPassword &amp;&amp; accountSettingsChanged}">
                                                Required to make changes.</div>
                                            <div class="error ng-binding ng-hide" ng-bind="fieldErrors.currentPassword"
                                                ng-show="accountSettingsChanged"></div>
                                        </div>
                                        <div class="spacer ng-hide" ng-show="forceSSO"></div>
                                        <div ng-show="forceSSO" class="ng-binding ng-hide">*Disabled due to team
                                            settings. Contact admin to update your Lucidchart username or email.</div>
                                    </div>

                                    <!-- ngIf: showLanguages -->

                                    <hr>
                                    <div class="right-keepflow">
                                        <div class="save-button-wrapper" title="No changes have been made.">
                                            <input type="submit"
                                                class="component-btn component-btn-secondary-blue save-button"
                                                value="Save changes" ng-disabled="saveDisabled" disabled="disabled">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script> const avatar = document.getElementById('avatarProfPic');
        const dropdownMenu = document.querySelector('.avatarDropdownMenu');

        // Add a click event listener to the avatar
        avatar.addEventListener('click', function () {
            // Toggle the "show" class on the dropdown menu
            dropdownMenu.classList.toggle('show');
        });
        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', function (event) {
            if (!event.target.matches('.avatarDropdown')) {
                const dropdowns = document.querySelectorAll(' .avatarDropdownMenu');
                dropdowns.forEach(function (dropdown) {
                    if (dropdown.classList.contains('show')) {
                        dropdown.classList.remove('show');
                    }
                });
            }
        });</script>

    <script type="module" src="profile.js"></script>
</body>

</html>