.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    cursor: move;
    user-select: none;
    color: #fff;
    /* Text color */
    text-align: center;
    /* Center text horizontally */
    line-height: 100px;
    /* Center text vertically */
}

.container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}